* {
    border: 1px solid red;
    box-sizing: border-box;
    ;
}

body {
    background-image: url('./images/istockphoto-1137996207-612x612.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
}

.project {
    text-transform: lowercase;
}

* {
    color: white;
}

.sucess-message {
    color: red;
    background-color: yellow;
    border: 2px solid green;
    padding-left: 50px;
    margin-left: 80px;
    margin border: ;

}

.error-message {
    color: rgb(217, 17, 17);
    background-color: yellow;
    border: 2px solid blue;

}

.sucess-message,
.error-message {
    color: rgb(10, 10, 231);
    background-color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    height: 200px;
    width: 250px;

}

.message.sucess-message {
    border: 2px solid goldenrod;
}

header .Item {
    text-decoration: underline;
}